.react-calendar__navigation .react-calendar__navigation__arrow {
  font-family: "Patrick Hand SC";
  background-color: rgba(98, 169, 207, 0.8);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.react-calendar__navigation .react-calendar__navigation__label {
  font-size: 32px;
  font-family: "Patrick Hand SC";
  background-color: rgba(98, 169, 207, 0.8);
  color: white;
  border: none;
}

.react-calendar__tile {
  height: 70px;
  font-family: "Patrick Hand SC";
  background-color: rgba(98, 169, 207, 0.8);
  color: rgb(241, 236, 236);
  border: none;
  cursor: pointer;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 24px;
  text-align: center;
  color: white;
  font-family: "Patrick Hand SC";
  background-color: rgba(98, 169, 207, 0.8);
}

.react-calendar__tile:hover {
  background: rgba(168, 164, 167, 0.904);
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 24px;
}

.react-calendar__tile--active {
  background: #006edc !important;
  color: white;
}

.calendarBackground {
  background-color: #5de4d2;
  background-image: linear-gradient(
    315deg,
    #5de4d2 25%,
    #6cdcbf 52%,
    #49a7da 90%
  );
  width: 100vw;
  height: 100vh;
}

.highlight {
  background-color: rgb(176, 101, 226);
}

.modal {
  background-color: rgba(62, 164, 219, 0.4);
}

.modal-header {
  background-color: rgba(55, 121, 156, 0.8);
  color: white;
  font-family: "Patrick Hand SC";
}

.modal-content {
  border: none !important;
}

.modal-body {
  padding: 0;
  color: white;
  font-family: "Patrick Hand SC";
}

.closeBtn {
  font-size: 20px;
  color: white;
  border: none;
  background-color: transparent;
}

.closeBtn:hover {
  color: rgb(139, 37, 207);
}

.dateRow {
  font-family: "Patrick Hand SC";
  font-size: 24px;
  color: rgba(55, 121, 156, 0.8);
}

.journalEntryButton {
  background: none;
  color: rgb(11, 2, 15);
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Patrick Hand SC";
  font-size: 24px;
  padding: 0;
}

.journalEntryButton:hover {
  color: rgb(139, 37, 207);
}
