.journal-title {
  padding-bottom: 15px;
  margin: 0;
  text-shadow: 3px 3px rgb(51, 167, 151);
  font-family: "Patrick Hand SC";
  font-size: 64px;
  color: white;
}

.journal-button-container button {
  margin-top: 10px;
  margin-right: 2px;
  background-color: rgb(217, 219, 219);
  font-family: "Patrick Hand SC";
  font-size: 24px;
  border: none;
  color: rgb(95, 158, 189);
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.journal-button-container button:hover {
  background-color: rgb(80, 180, 139);
  color: rgb(112, 110, 110);
}

.journal-book-div {
  display: flex;
  flex-flow: row;
  border: 10px solid rgb(97, 100, 100);
  border-radius: 5px;
  background-color: white;
  width: 70%;
  height: 500px;
}

.left-page {
  width: 50%;
  border-right: 4px solid rgba(97, 100, 100, 0.3);
  padding: 5px;
  display: flex;
  flex-flow: column;
  max-height: 100%;
  overflow-y: scroll;
  justify-content: space-between;
}

.right-page {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-flow: column;
  max-height: 100%;
  overflow-y: scroll;
  justify-content: space-between;
}

.page-text img {
  max-width: 40%;
  max-height: auto;
}

.page-number {
  height: 25px;
  text-align: center;
  bottom: 0;
}

.entry-title {
  font-family: "Patrick Hand SC";
  font-size: 24px;
}

.date {
  font-family: "Patrick Hand SC";
  font-size: 18px;
}

.page-number {
  font-family: "Patrick Hand SC";
  font-size: 18px;
}

.background {
  background-color: #5de4d2;
  background-image: linear-gradient(
    315deg,
    #5de4d2 25%,
    #6cdcbf 52%,
    #49a7da 90%
  );
  height: 100vh;
}
