.journal-title {
  padding-bottom: 15px;
  margin: 0;
  text-shadow: 3px 3px rgb(51, 167, 151);
  font-family: "Patrick Hand SC";
  font-size: 64px;
  color: white;
}

.--left {
  box-sizing: border-box;
  border-right: 1px solid rgb(112, 110, 110);
}

.--right {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.journal-button-container button {
  margin-top: 10px;
  margin-right: 2px;
  background-color: rgb(217, 219, 219);
  font-family: "Patrick Hand SC";
  font-size: 24px;
  border: none;
  color: rgb(95, 158, 189);
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.journal-button-container button:hover {
  background-color: rgb(80, 180, 139);
  color: rgb(112, 110, 110);
}

.stf__block {
  background-color: whitesmoke;
  border: 15px solid rgb(170, 169, 169);
  border-radius: 5px;
  box-sizing: content-box;
}

.page h1 {
  font-family: "Patrick Hand SC";
  font-size: 24px;
}

.page h3 {
  font-family: "Patrick Hand SC";
  font-size: 18px;
}

.stf__item {
  top: 0 !important;
}

.page-footer {
  width: 100%;
  height: 10%;
  position: absolute;
  text-align: center;
  bottom: 0;
}

.page img {
  max-width: 300px;
  align-self: center;
}

.current_pages {
  padding: 0px 10px;
  font-family: "Patrick Hand SC";
  font-size: 24px;
}

.page-content {
  object-fit: contain;
}

.journal-book-div {
  display: flex;
  flex-flow: row;
  border: 10px solid rgb(97, 100, 100);
  border-radius: 5px;
  background-color: white;
  width: 70%;
}

.left-page {
  width: 50%;
  border-right: 4px solid rgba(97, 100, 100, 0.3);
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.right-page {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.page-text img {
  max-width: 40%;
  max-height: auto;
}

.page-number {
  /* width: 100%; */
  height: 25px;
  text-align: center;
  bottom: 0;
}

.entry-title {
  font-family: "Patrick Hand SC";
  font-size: 24px;
}

.date {
  font-family: "Patrick Hand SC";
  font-size: 18px;
}

.page-number {
  font-family: "Patrick Hand SC";
  font-size: 18px;
}
