.feelings-title {
  padding-bottom: 15px;
  margin: 0;
  text-shadow: 3px 3px rgb(51, 167, 151);
  font-family: "Patrick Hand SC";
  font-size: 64px;
  color: white;
}

.listItem {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.note {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-right: 10px;
}

.noteText {
  margin-left: 10px;
}

.check {
  border: 2px solid black;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

.delete {
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  border: none;
  background: transparent;
  cursor: pointer;
}

.addButton {
  padding: 0px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: 2px solid rgb(51, 167, 151);
  width: 25px;
  height: 25px;
  font-size: 24px;
  border-radius: 12px;
  background: rgb(113, 224, 210);
  cursor: pointer;
}

.addNoteForm {
  width: 525px;
  font-family: "Patrick Hand SC" !important;
  font-size: 24px !important;
  background-color: rgb(194, 189, 189);
}

.btn {
  color: rgb(51, 167, 151);
}
