#toolbar {
  background-color: white;
}

.text-editor {
  margin-top: 15px;
  padding-top: 15px;
}

.ql-container {
  font-family: "Patrick Hand SC" !important;
  font-size: 24px !important;
}

.ql-editor {
  min-height: 200px;
  background-color: white;
  color: black;
}

.submit-button {
  padding-top: 15px;
}

/* Set default font-family */
#editor-container {
  height: 375px;
}

.textEditor {
  margin-top: 10px;
}
