@import url(https://fonts.googleapis.com/css2?family=Rochester&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Caveat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Birthstone&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Neucha&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mali&display=swap);

.wrapper-class {
  padding: 10px;
}

.editor-class {
  background-color: rgba(211, 211, 211, 0.8);
  width: 101.5%;
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 24px;
  font-family: Arial;
  border-radius: 5px;
  min-height: 200px;
}

.toolbar-class {
  border: 1px solid #ccc;
  color: black;
  border-radius: 5px;
  width: 100%;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value]::before {
  content: attr(data-value) !important;
}

/* Set droplist names - -item is the cxsurrently selected font, -label is the font's appearance in the droplist*/
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="helvetica"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="helvetica"]::before {
  content: "Default";
  font-family: "Helvetica";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="birthstone"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="birthstone"]::before {
  content: "Birthstone";
  font-family: "Birthstone";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="quicksand"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="quicksand"]::before {
  content: "Quicksand";
  font-family: "Quicksand";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="neucha"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="neucha"]::before {
  content: "Neucha";
  font-family: "Neucha";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="mali"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="mali"]::before {
  content: "Mali";
  font-family: "Mali";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="caveat"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="caveat"]::before {
  content: "Caveat";
  font-family: "Caveat";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="rochester"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="rochester"]::before {
  content: "Rochester";
  font-family: "Rochester";
}

/****************************************************
Set the font-family content used for the HTML content.
*****************************************************/
.ql-font-helvetica {
  font-family: "Helvetica";
}

.ql-font-birthstone {
  font-family: "Birthstone";
}

.ql-font-caveat {
  font-family: "Caveat";
}

.ql-font-mali {
  font-family: "Mali";
}

.ql-font-quicksand {
  font-family: "Quicksand";
}

.ql-font-neucha {
  font-family: "Neucha";
}

.ql-font-rochester {
  font-family: "Rochester";
}
